# Connection string based on the values in the compose.dev.yml file
# postgres://user:password@address:port/database-name
DATABASE_URL=postgres://postgres:verso@localhost:15432/vrwa
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@vrwa.org