# Connection string based on the values in the compose.dev.yml file
# postgres://user:password@address:port/database-name
DATABASE_URL=postgres://postgres:verso@localhost:15432/vrwa

# Better-auth
BETTER_AUTH_SECRET=InProdThisWillBeASecurelyGeneratedSecret
BETTER_AUTH_URL=http://localhost:3000
